* {
  margin: 0px;
  padding: 0px;
  /* border: solid white 1px; */
  color: white;
}

@font-face {
  font-family: trends;
  src: url("../assets/fonts/trends/Trends.ttf");
}

@font-face {
  font-family: roboto-regular;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
  background-color: black;
  overflow-y: auto;
}

/* Navigation */
ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

ul > li {
  transform: scale(1);
  transition: transform 0.1s ease;
  font-family: roboto-regular;
}

.nav-text {
  font-size: 15px;
}

ul > li:hover {
  transform: scale(1.1) rotate(-8deg);
  cursor: pointer;
}

.name {
  font-size: 32px;
  font-weight: bold;
  font-family: trends;
  letter-spacing: 3px;
  transform: scale(1);
  transition: transform 0.1s ease;
}

.name:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 24px;
  /* font-size: 24px; */
  margin: 0px 240px 0px;
  padding-bottom: 94px;
  transform: translateY(-100%);
  transition: transform 1s ease;
  /* transform-origin: top; */
}

nav.scale-down {
  transform: translateY(0%);
}

/* Header */
header {
  display: flex;
  height: 600px;
  margin: 0px 240px 0px;
  padding: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 800px 50%;
  margin-bottom: 32px;
  opacity: 0%;
  transition: opacity 2s ease, background-position 2s ease;
}

header.img-load {
  opacity: 100%;
  background-position: 95% 50%;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  justify-content: center;
}

.introduction {
  font-size: 3rem;
  font-weight: bold;
  width: 600px;
  transform: translateX(-200%);
  transition: transform 2s ease;
  height: 100px;
  font-family: trends;
  letter-spacing: 2px;
}

.sub-introduction {
  font-size: 1.1rem;
  /* font-weight: bold; */
  color: rgb(209, 209, 209);
  width: 350px;
  transform: translateX(-200%);
  transition: transform 2s ease;
}

.wave {
  /* transform: rotate(1); */
  color: rgb(209, 209, 209);
  display: inline-block;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.wave:hover {
  transform: rotate(1turn);
}

.socials {
  transform: translateX(-200%);
  transition: transform 2s ease;
}

.socials.text-load,
.introduction.text-load,
.sub-introduction.text-load {
  transform: translateX(0);
}

.skills {
  transition: opacity 0.5s ease;
  opacity: 1;
}

/* Education */
.education {
  display: flex;
  height: 600px;
  margin: 0px 240px 0px;
  padding: 24px;
  margin-bottom: 32px;
}

/* Projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  /* border: solid white 1px; */
  /* justify-content: space-between; */
  padding: 24px;
  gap: 24px;
  justify-content: center;
  font-size: 24px;
  /* margin: 0px 240px 0px;  */
  padding-bottom: 94px;
}

.project-card {
  height: 90vh;
  width: 100%;
  background-color: black;
  opacity: 0%;
  /* border-radius: 12px; */
  /* transform: scale(1); */
  /* transition: transform 0.1s ease; */
  /* transform: translateX(-120%); */
  /* transition: transform 4s ease; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}

.p-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 450px;
  gap: 64px;
  margin-left: 24px;
}

.p-title {
  font-size: 32px;
  font-family: trends;
}

.p-subtitle {
  font-size: 18px;
  color: gray;
  font-family: roboto-regular;
}

.case-study-btn {
  font-family: roboto-regular;
  font-size: small;
  font-weight: bold;
  border: 1px white solid;
  width: 200px;
  background-color: white;
  color: black;
  padding: 12px 0px 12px;
}

.case-study-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.project-card.showed {
  opacity: 100%;
}

/* Media queries */
@media (max-width: 600px) {
  .projects,
  header,
  nav {
    margin: 0px 0px 0px;
    /* padding-bottom: 32px; */
  }
  .projects {
    gap: 24px;
    padding: 0px;
    margin: 12px;
  }
  nav {
    align-items: center;
  }
  ul {
    gap: 24px;
    font-size: 1rem;
  }
  header {
    /* height: 650px; */
    height: 300px;
    margin-bottom: 32px;
  }
  .header-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: center;
  }
  header {
    background-size: 60%;
    background-position: 300px 50%;
  }
  header.img-load {
    opacity: 100%;
    background-position: 95% 50%;
  }
  .introduction {
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    height: 50px;
  }

  .name {
    font-size: 20px;
  }

  .nav-text {
    font-size: 12px;
  }

  .sub-introduction {
    font-size: 1rem;
    width: 300px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .projects,
  header,
  nav {
    margin: 0px 50px 0px;
  }
  ul {
    gap: 12px;
  }
  header {
    background-size: contain;
    background-position: 90% 0%;
    margin-bottom: 32px;
  }
  .introduction {
    font-size: 2rem;
    font-weight: bold;
    width: 500px;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  header,
  nav {
    margin: 0px 100px 0px;
  }
  header {
    margin-bottom: 32px;
  }
}

@media (max-width: 350px) {
  * {
    border: 0px solid black;
  }
  nav {
    display: hidden;
    color: black;
  }
}
