* {
  margin: 0px;
  padding: 0px;
  /* border: solid white 1px; */
  color: white;
}

body {
  background-color: black;
}

/* Navigation */
ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

nav {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 24px;
  font-size: 24px;
  margin: 0px 240px 0px;
  padding-bottom: 94px;
  transform: translateY(-100%);
  transition: transform 2s ease;
  /* transform-origin: top; */
}

nav.scale-down {
  transform: translateY(0%);
}

/* Header */
header {
  display: flex;
  height: 600px;
  margin: 0px 240px 0px;
  padding: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 800px 50%;
  margin-bottom: 32px;
  opacity: 0%;
  transition: opacity 2s ease, background-position 2s ease;
}

header.img-load {
  opacity: 100%;
  background-position: 95% 50%;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  justify-content: center;
}

.introduction {
  font-size: 2rem;
  font-weight: bold;
  width: 600px;
  transform: translateX(-200%);
  transition: transform 2s ease;
}

.sub-introduction {
  /* font-size: 2rem; */
  /* font-weight: bold; */
  color: gray;
  width: 300px;
  transform: translateX(-200%);
  transition: transform 2s ease;
}

.socials {
  transform: translateX(-200%);
  transition: transform 2s ease;
}

.socials.text-load,
.introduction.text-load,
.sub-introduction.text-load {
  transform: translateX(0);
}

/* Media queries */
@media (max-width: 600px) {
  header,
  nav {
    margin: 0px 0px 0px;
    /* padding-bottom: 32px; */
  }
  ul {
    gap: 12px;
  }
  header {
    height: 650px;
  }
  .header-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: start;
  }
  header {
    background-size: contain;
    background-position: 50% 200px;
  }
  .introduction {
    font-size: 1.5rem;
    font-weight: bold;
    width: auto;
  }
  .sub-introduction {
    width: auto;
  }
}

@media (min-width: 600px) and (max-width: 1400px) {
  header,
  nav {
    margin: 0px 0px 0px;
  }
  ul {
    gap: 12px;
  }
  header {
    background-size: contain;
    background-position: 90% 0%;
  }
  .introduction {
    font-size: 2rem;
    font-weight: bold;
    width: 500px;
  }
}

@media (max-width: 350px) {
  * {
    border: 0px solid black;
  }
  nav {
    display: hidden;
    color: black;
  }
}
